<mat-dialog-content>
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../../assets/capturas/foros/foros1.png" class="d-block w-100" alt="slide1">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="tituloSlide">Búsqueda</h5>
            <p class="descSlide">Puedes buscar foros através de la barra de búsqueda.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/capturas/foros/foros2.png" class="d-block w-100" alt="slide2">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="tituloSlide colorAux">Búsqueda</h5>
            <p class="descSlide colorAux">Si no hay coincidencias con tu búsqueda aparecerá la pantalla vacía.</p>
          </div>
        </div>
        <div class="carousel-item">
            <img src="../../../../assets/capturas/foros/foros4.png" class="d-block w-100" alt="slide3">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Crear Foro</h5>
              <p class="descSlide">Puedes crear un foro desde el botón.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/capturas/foros/foros5.png" class="d-block w-100" alt="slide4">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Crear Foro</h5>
              <p class="descSlide">Solo debes llenar los campos requeridos y dar click en Publicar.</p>
            </div>
          </div>  
          <div class="carousel-item">
            <img src="../../../../assets/capturas/foros/foros6.png" class="d-block w-100" alt="slide5">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Crear Foro</h5>
              <p class="descSlide">Nota: Puedes publicar el foro de forma anónima.</p>
            </div>
          </div> 
          <div class="carousel-item">
            <img src="../../../../assets/capturas/foros/foros7.png" class="d-block w-100" alt="slide6">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Foro</h5>
              <p class="descSlide">Cuando accedas a un foro te aparecerá su información.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/capturas/foros/foros8.png" class="d-block w-100" alt="slide7">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Foro</h5>
              <p class="descSlide">Puedes reportarlo si asi lo consideras pertinente.</p>
            </div>
          </div>  
          <div class="carousel-item">
            <img src="../../../../assets/capturas/foros/foros9.png" class="d-block w-100" alt="slide8">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Foro</h5>
              <p class="descSlide">Solo debes ingresar una breve descripción y se atenderá a la brevedad.</p>
            </div>
          </div>  
          <div class="carousel-item">
            <img src="../../../../assets/capturas/foros/foros10.png" class="d-block w-100" alt="slide9">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Foro</h5>
              <p class="descSlide">Tambien puedes replicar el foro, unicamente ingresa tu replica y da click en el botón respectivo.</p>
            </div>
          </div>  
          <div class="carousel-item">
            <img src="../../../../assets/capturas/foros/foros11.png" class="d-block w-100" alt="slide10">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Foro</h5>
              <p class="descSlide">Aparecerá tu replica junto con tu nombre de usuario e imágen de perfil.</p>
            </div>
          </div>    
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> 
</mat-dialog-content>