<app-navbar></app-navbar>

<app-sidebar>
  <div class="contenedor">
    <button class="contBtnUser" (click)="openDialog3()"><img src="../../../assets/help.png" alt="" class="btn-user-org"></button>
    <app-titulo-seccion [title]="'Ajustes'"></app-titulo-seccion>
    <p class="msgRecursos">En esta sección podrás modificar tus datos personales y preferencias</p>

    <div class="contenedor">
      <div class="row">
        <div class="col-xl-6 col-lg">
          <mat-card class="example-card">        
            <mat-card-header>
              <mat-card-title class="titleCard">Cambiar Correo</mat-card-title>
            </mat-card-header>
            <mat-card-content class="cuerpoAjustes"> 
              <form [formGroup]="ajustesForm" (ngSubmit)="openDialog()">
                <!-- <div class="inputDG">
                  <label for="nombre" class="labelDG">Nombre de Usuario</label>
                  <input type="text" name="text" class="input" [placeholder]="nombreUsuario" [(ngModel)]="nombreUsuario" formControlName="nombreUsuario">
                </div> -->
                <div class="inputDG">
                  <label for="correo" class="labelDG">Correo electrónico</label>
                  <input type="email" name="correo" class="input" [value]="correo" [(ngModel)]="correo" formControlName="correo">
                </div>   
                <div class="contBtn">
                  <button class="btnGuardar">Guardar Ajustes</button>    
                </div>
              </form>                             
            </mat-card-content>            
          </mat-card>
        </div>
        <div class="col-xl-6 col-lg">
          <mat-card class="example-card">        
            <mat-card-header>
              <mat-card-title class="titleCard">Cambiar Contraseña</mat-card-title>
            </mat-card-header>
            <mat-card-content class="cuerpoAjustes">
              <form [formGroup]="ajustesPasswordForm" (ngSubmit)="openDialogPassword()"> 
                <div class="inputDG">
                  <label for="password" class="labelDG">Nueva Contraseña</label>
                  <input type="password" placeholder="Nueva Contraseña" name="text" class="input" [(ngModel)]="password" formControlName="password">
                </div>
                <div class="inputDG">
                  <label for="confirmpassword"  class="labelDG">Confirma contraseña</label>
                  <input type="password" placeholder="Repite la nueva conraseña" name="text" class="input" [(ngModel)]="confirmPassword" formControlName="confirmPassword">
                </div> 
                <div class="contBtn">
                  <button class="btnGuardar">Guardar Contraseña</button>
                </div>
              </form>
            </mat-card-content>            
          </mat-card>         
        </div>
        <!-- <div class="botones">
          <button class="btnReestablecer">Cancelar</button>
        </div> -->
      </div>
    </div>

  
  </div></app-sidebar>


