
.cont-chatbot{
    position: fixed;
    top: 15%;
    right: 25%;
    width: 20rem;    
    height: 40rem;
    background-color: #1b4584;
    border: 3px solid #fff;
    padding: 1rem;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    z-index: 100;
 }
.msgChatbot{
    font-size: 1.3rem;
    color: aliceblue;
    line-height: 1;
    text-align: center;
    font-family: var(--fuenteGenerica);
 }
 .btnChatbot{
    display: flex;
    justify-content: center;
    margin: 3rem auto;
    border: 2px solid #000;
    border-radius: 2px;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: var(--fuentePrimaria);
    -webkit-box-shadow: 2px 3px 15px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 15px -3px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 15px -3px rgba(0,0,0,0.75); 
}
.chatBot{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}
.btnOcultar{
    position: absolute;
    margin: 0.5rem 1rem;
    top: 0;
    right: 0;
    border: none;
    background: none
}
.contSecundario{
    padding: 0.5rem;
    background-color: #b9d5e2;
    height: 27rem;
    width: 95%;
    margin: 0 auto;
    overflow-y: auto; 
    scrollbar-width: thin;
    scrollbar-color: #888 #f4f4f4;
}

.contenedorChat {
    background-color: rgb(235, 236, 237);
    border: 2px solid #000;
    border-radius: 3px;
    height: 90%; 
    width: 90%; 
    position: absolute;
    top: 9%;
    left: 6%;
    max-height: 700px;
}
.formChat{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.inputChat{   
    width: 80%; 
    height: 3rem; 
    max-height: 10rem;
    overflow-y: auto;
    resize: none;
    padding: 0.3rem;
    margin-left: 2rem;   
}
.botonesChat{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
    
}
.btnChat{
    border: none;
    border-radius: 2px;
    background: none;
    padding: 0.5rem;
    margin-right: 1rem;
    font-family: var(--fuentePrimaria);
    color: #000;
    -webkit-box-shadow: 2px 3px 15px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 15px -3px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 15px -3px rgba(0,0,0,0.75);
}
.enviar{
    background-color: rgb(26, 188, 26);
}
.limpiar{
    background-color: rgb(110, 26, 188);
}
.btnCerrarChat{
    position: absolute;
    top: 1rem;
    left: 1rem;
    border: none;
    background: none;
}
.contInput{
    width: 80%;
    margin: 1rem;
    display: inline;
}
.contInput input{
    padding: 0.3rem;
    font-family: var(--fuentePrimaria);
    height: 2rem;
    width: 9rem;
    margin: 0 auto;
}
.contInput button{
    padding: 0.3rem;
    background-color: rgb(20, 74, 132);
    border-radius: 8px;
    color: #cbd5e4;
    border: none;
    font-family: var(--fuenteGenerica);
    margin: 0.5rem;  
}
@media(min-width: 1000px){
    .cont-chatbot{
        position: fixed;
        top: 0;
        right: 0; 
        width: 23%;
        margin-top: 3.9rem;         
        height: 100%;
     }
    .msgChatbot{
        font-size: 1.6rem;
    }
    .btnChatbot{
        padding: 0.8rem;
        font-size: 1.2rem;
    }
    .btnChatbot:hover{
        transform: scale(110%);
        transition: 0.5s ease-in all;
    }
    .contSecundario{
        padding: 0.5rem;
        background-color: #b9d5e2;
        height: 30rem;
        overflow-y: scroll;
    }
    .contenedorChat{
        border-radius: 3px;
        height: 75%;
        width: 90%;
        padding: 0.5rem;
    }
    .btnCerrarChat{
        display: none;
    }     
    .btnChat:hover{
        transform: scale(105%);
        transition: 0.5 ease-out all;
    }
    .contInput{
        width: 90%;
        margin: 1rem;
        display: inline;
    }
    .contInput input{
        padding: 0.3rem;
        font-family: var(--fuentePrimaria);
        height: 3rem;
        width: 11rem;
        margin-top: 1rem;
    }
    .contInput button{
        padding: 0.5rem;
        background-color: rgb(20, 74, 132);
        border-radius: 8px;
        color: #cbd5e4;
        border: none;
        font-family: var(--fuenteGenerica);
        margin: 0.5rem;
        margin-right: 0;
    }
}
.msg{
    padding: 0.3rem;
    background-color: #1b4584;
    color: #fff;
    font-family: var(--fuentePrimaria);
}
.msgCb{
    padding: 0.3rem;
    background-color: #cbd5e4;
    color: #161616;
    font-family: var(--fuentePrimaria);
}
.contenedorChat p{
    font-family: var(--fuentePrimaria);
    text-align: start;
    font-size: 1rem;
}
.contenedorChat .titulo{
    text-align: center;
}
.sugerenciasSaludo button{
    border: none;
    background-color: #dee1e2;
    padding: 0.3rem;
    font-family: var(--fuenteGenerica);
    border-radius: 5px;
    margin: 0.2rem;
}
.sugerenciasSaludo{
    text-align: center;
}
.msgInstruccion{
    color: #888;
    text-align: center;
}