<app-navbar></app-navbar>
<app-sidebar>
  <div class="contenedor">
    <app-titulo-seccion [title]="'Comunidad'"></app-titulo-seccion>
    <div class="headerComunidad">
      <p>Busca amigos, organizaciones o cuentas de tu interés</p>
      <div class="buscar">
        <form class="form barra">
          <button type="button" (click)="search(query)">
              <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
                  <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
          </button>
          <input class="input2" placeholder="Ingresa un nombre de usuario o un userID..." required type="text" [(ngModel)]="query" (input)="onSearchInputChange()" [ngModelOptions]="{standalone: true}">
          <button class="reset" type="reset">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
              </svg>
          </button>
        </form>
        <div class="btnBuscarCont">
          <button type="button" (click)="search(query)"><span><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
            <path d="M21 21l-6 -6" />
          </svg></span>Buscar</button>
        </div>
      </div>
    </div>

    <div *ngIf="numResultados === 0">
      <app-mensajevacio class="msgVacioTexto">¡No hay resultados para tu búsqueda!</app-mensajevacio>
    </div>
    <div *ngIf="numResultados === -1">
      <div class="contMsgGeneral">
        <div class="contImgLupa">
          <img src="../../../../assets/lupa.png" alt="lupa" class="imgLupa">
        </div>
        <h2 class="msgGeneral">¡Aqui apareceran los resultados de tu busqueda!</h2>
      </div>
    </div>
    <div *ngIf="numResultados > 0" class="contResultados">
      <mat-card class="tarjeta" *ngFor="let item of results">
        <div class="contTarjeta">
          <img [src]="item.imgPerfil ? getProfileImage(item) : '../../../../assets/avatars/user.png'" alt="" class="imgResultado">           
          <div class="cuerpoTarjeta">
            <h3 class="nombreUsuario">{{item.nombreUsuario}}</h3>
            <p class="descripcionUsuario">{{item.descripcion}}</p>
          </div>
          <div class="acciones">
            <button class="contAccion tooltip-container" *ngIf="item.seguido" (click)="deleteSeguido(item.id)">
              <span class="tooltip">Dejar de Seguir</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-minus" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4c.348 0 .686 .045 1.009 .128" />
                <path d="M16 19h6" />
              </svg>
              <span class="resp">Dejar de Seguir</span>
            </button>            
            <button class="contAccion tooltip-container" *ngIf="!item.seguido" (click)="addSeguidor(item.id, item.nombreUsuario)">
              <span class="tooltip2">Seguir</span>
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00abfb" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24H24z" fill="none"/>
                <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                <path d="M16 19h6" />
                <path d="M19 16v6" />
                <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
              </svg>
              <span class="resp">Seguir</span>
            </button>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</app-sidebar>
