<!-- src/app/components/sign-in/sign-in.component.html -->
<div class="login-body">
  <div class="contTitulo">
    <app-titulo></app-titulo>
  </div>
  <div class="contSignIn">
    <div class="card-container" *ngIf="!loading">
      <div class="card-body">
        <h5 class="card-title">Crea una cuenta de Organización</h5>
        <hr>
        <div class="mb-2 contForm needs-validation">
          <form class="form" [formGroup]="signInFormOrg" (ngSubmit)="onSubmitOrg()">
            <p class="message">Ingresa los datos de la organización/empresa para registrala.</p>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="campo">
                  <label>
                    <input class="input" type="text" placeholder="" required="true" formControlName="nombre" [(ngModel)]="nombre">
                    <span>Nombre</span>
                    <div class="text-danger" *ngIf="signInFormOrg.controls['nombre'].invalid && (isFormSubmitted || signInFormOrg.controls['nombre'].touched)">
                      <span *ngIf="signInFormOrg.controls['nombre'].errors?.['required']">El nombre no puede quedar vacío.</span>
                    </div>
                  </label> 
                </div>
                <div class="campo">
                  <label>
                    <input class="input" type="text" placeholder="" required="true" formControlName="razonSocial" [(ngModel)]="razonSocial">
                    <span>Razón Social</span>
                    <div class="text-danger" *ngIf="signInFormOrg.controls['razonSocial'].invalid && (isFormSubmitted || signInFormOrg.controls['razonSocial'].touched)">
                      <span *ngIf="signInFormOrg.controls['razonSocial'].errors?.['required']">La razón social no puede quedar vacía.</span>
                    </div>
                  </label>
                </div>
                <div class="campo">
                  <label>
                    <input class="input" type="text" placeholder="" required="true" formControlName="rfc" [(ngModel)]="rfc">
                    <span>RFC</span>
                    <div class="text-danger" *ngIf="signInFormOrg.controls['rfc'].invalid && (isFormSubmitted || signInFormOrg.controls['rfc'].touched)">
                      <span *ngIf="signInFormOrg.controls['rfc'].errors?.['required']">El RFC no puede quedar vacío.</span>
                    </div>
                  </label>
                </div>
                <div class="campo">
                  <label>
                    <input class="input" type="text" placeholder="" required="true" formControlName="direccion" [(ngModel)]="direccion">
                    <span>Dirección Fiscal</span>
                    <div class="text-danger" *ngIf="signInFormOrg.controls['direccion'].invalid && (isFormSubmitted || signInFormOrg.controls['direccion'].touched)">
                      <span *ngIf="signInFormOrg.controls['direccion'].errors?.['required']">La dirección no puede quedar vacía.</span>
                    </div>
                  </label>
                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="campo">
                  <label>
                    <input class="input" type="number" placeholder="" required="true" formControlName="telefono" [(ngModel)]="telefono" pattern="[0-9]*" inputmode="numeric">
                    <span>Teléfono</span>
                    <div class="text-danger" *ngIf="signInFormOrg.controls['telefono'].invalid && (isFormSubmitted || signInFormOrg.controls['telefono'].touched)">
                      <span *ngIf="signInFormOrg.controls['telefono'].errors?.['required']">El teléfono no puede quedar vacío.</span>
                    </div>
                  </label> 
                </div>
                <div class="campo">
                  <label>
                    <input class="input" type="email" placeholder="" required="true" formControlName="correo" [(ngModel)]="correo">
                    <span>Correo</span>
                    <div class="text-danger" *ngIf="signInFormOrg.controls['correo'].invalid && (isFormSubmitted || signInFormOrg.controls['correo'].touched)">
                      <span *ngIf="signInFormOrg.controls['correo'].errors?.['required']">El correo no puede quedar vacío.</span>
                    </div>
                  </label> 
                </div>
                <div class="campo">
                  <div class="radioGroup">
                    <span class="sectorLabel">Sector</span>
                    <div class="opciones">
                      <label class="radio-button">
                        <input type="radio" name="sector" value="Publico" formControlName="sector">
                        <span class="radio">Público</span>                            
                      </label>                                      
                      <label class="radio-button">
                        <input type="radio" name="sector" value="Privado" formControlName="sector">
                        <span class="radio">Privado</span>
                      </label>
                    </div> 
                    <div class="text-danger" *ngIf="signInFormOrg.controls['sector'].invalid && (isFormSubmitted || signInFormOrg.controls['sector'].touched)">
                      <span *ngIf="signInFormOrg.controls['sector'].errors?.['required']">El sector no puede quedar vacío.</span>
                    </div>                       
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="campo">
                  <label>
                    <input class="input" type="password" placeholder="" required="true" formControlName="password" [(ngModel)]="password">
                    <span>Contraseña</span>
                    <div class="text-danger" *ngIf="signInFormOrg.controls['password'].invalid && (isFormSubmitted || signInFormOrg.controls['password'].touched)">
                      <span *ngIf="signInFormOrg.controls['password'].errors?.['required']">La contraseña no puede quedar vacía.</span>
                      <span *ngIf="signInFormOrg.controls['password'].errors?.['minlength']">La contraseña debe contener al menos 8 caracteres.</span>
                    </div>
                  </label>
                </div>
                <div class="campo">
                  <label>
                    <input class="input" type="password" placeholder="" required="true" formControlName="confirmPassword" [(ngModel)]="confirmPassword">
                    <span>Confirma la contraseña</span>
                    <div class="text-danger" *ngIf="signInFormOrg.controls['confirmPassword'].invalid && (isFormSubmitted || signInFormOrg.controls['confirmPassword'].touched)">
                      <span *ngIf="signInFormOrg.controls['confirmPassword'].errors?.['required']">Debes confirmar la contraseña</span>
                      <span *ngIf="signInFormOrg.controls['confirmPassword'].errors?.['mustMatch']">Las contraseñas no coinciden</span>
                    </div>
                  </label>
                </div>
                <div class="col-md-12 contCheckbox">
                  <p class="aviso">Al dar click en Registrar estas aceptando el <span class="txtCheckbox"><a routerLink="/avisodeprivacidad">Aviso de Privacidad</a></span></p>
                </div>      
                
                <div class="botones">
                  <button class="submit" type="submit">Registrar</button>
                  <button class="cancel" routerLink="'/login">Cancelar</button>
                </div>                        
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <app-spinner *ngIf="loading"></app-spinner>
  </div>
</div>
<app-footer></app-footer>
