
.card-container{
    margin-bottom: 15rem;
}

.contSignIn{
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 1rem;
}
@media(min-width: 700px){
    .contSignIn{
        width: 80%;
    }
}
.contTitulo{
    margin-top: 3rem;
}
.card-title{
    font-size: 1.4rem;
    font-family: var(--fuentePrimaria);
    margin: 0;
}
.contForm{
    width: 100%;
    display: inline;
}
/* Formulario */
.form {
    border-radius: 20px;
    position: relative;
    /* background-color: #1a1a1a; */
    margin-top: 1rem;
    color: #000000;
    /* border: 1px solid #333; */
}
  
.message{
    font-size: 14.5px;
    font-family: var(--fuentePrimaria);
    color: rgba(17, 17, 17, 0.7);
    text-align: center;
}
  
  
.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}
  
.campo label {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: var(--fuentePrimaria);

}
.campo{
    text-align: start;
    font-family: var(--fuentePrimaria);
}
.campo label{
    /* margin-left: 1rem; */
    display: flex;    /* font-size: 0.7rem; */
} 
.opciones label{
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.campo label .input {
    background-color: #5a8aaa;
    color: #fff;
    width: 100%;
    padding: 20px 05px 05px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}
.form label .input {
    margin: 0.8rem 0 0 0;
}
  
.form label .input + span {
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 1rem;
    top: -10rem;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}
  
.form label .input:placeholder-shown + span {
    top: 12.5px;
    font-size: 0.9em;
}
  
.form label .input:focus + span,
.form label .input:valid + span {
    color: #191919;
    top: 0.6rem;
    font-size: 0.7em;
    font-weight: 600;
}
  
.input {
    font-size: medium;
}

.botones{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
@media(min-width: 900px){
    .botones{        
        flex-direction: row;
        justify-content: space-evenly;
    }
}  
.submit, .cancel {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    width: 20%;
    font-size: 16px;
    font-family: var(--fuentePrimaria);
    transform: .3s ease;
    background-color: #00bfff;
    -webkit-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 10px -1px rgba(0,0,0,0.75);
}
.submit{
    background-color: #00bfff;
}
.cancel{
    background-color: #fc2626;

}
  
.submit:hover{
    background-color: #00bfff96;
    transform: scale(102%);
    transition: 0.5s ease-in-out all;
}
.cancel:hover{
    background-color: #fc26269c;
    transform: scale(102%);
    transition: 0.5s ease-in-out all;
}




.radioGroup{
    display: flex;
    flex-direction: column;
    background-color: #5a8aaa;
    border-radius: 10px;
    /* width: 90%; */
    /* margin-left: 1rem; */
    margin-top: 0.5rem;
    margin: 0.5rem 0;
    height: 7rem;
    padding: 5px 05px 05px 10px;
    -webkit-box-shadow: 2px 3px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 14px 0px rgba(0,0,0,0.75);
}
.opciones{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.opciones span{
    margin-left: 0.5rem;
}
.radioGroup .sectorLabel{
    font-family: var(--fuentePrimaria);
    font-size: 0.9em;
}
.radio-button label{
    background-color: #e0e0e0;
}
/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.buttonRegistrate{
    text-decoration: underline;
    cursor: pointer;
    color: black;
}
.buttonRegistrate:hover{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transition: all 0. 8 ease-in;
}
.contCheckbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    text-align: start;
    margin-top: 2rem;
    font-size: 0.8rem;
    margin-left: 0.5rem;
}
.contCheckbox .aviso{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    margin-bottom: 0;
}
.txtCheckbox{
    font-size: 0.8rem;
    font-family: var(--fuentePrimaria);
    cursor: pointer;
}
.txtCheckbox a{
    color: #506eec;
}
