<mat-dialog-content>
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="6" aria-label="Slide 7"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="7" aria-label="Slide 8"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="8" aria-label="Slide 9"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="9" aria-label="Slide 10"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="10" aria-label="Slide 11"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="11" aria-label="Slide 12"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="12" aria-label="Slide 13"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="13" aria-label="Slide 14"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="14" aria-label="Slide 15"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="15" aria-label="Slide 16"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="16" aria-label="Slide 17"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../../../assets/capturas/perfil/perfil1.png" class="d-block w-100" alt="slide1">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="tituloSlide">Cambiar Foto</h5>
            <p class="descSlide">Puedes cambiar tu foto desde la seccion perfil en el boton</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/capturas/perfil/perfil2.png" class="d-block w-100" alt="slide2">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="tituloSlide colorAux">Cambiar Foto</h5>
            <p class="descSlide colorAux">Selecciona la foto en tu sistema de archivos</p>
          </div>
        </div>   
        <div class="carousel-item">
          <img src="../../../../assets/capturas/perfil/perfil3.png" class="d-block w-100" alt="slide3">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="tituloSlide">Cambiar Foto</h5>
            <p class="descSlide">Confirma la operacion.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="../../../../assets/capturas/perfil/perfil14.png" class="d-block w-100" alt="slide4">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="tituloSlide colorAux">Actualizar Descripción</h5> 
            <p class="descSlide mb-4 colorAux">Tambien puedes actualizar tu descripción desde desde el ícono.</p>
          </div>
        </div>  
        <div class="carousel-item">
          <img src="../../../../assets/capturas/perfil/perfil16.png" class="d-block w-100" alt="slide5">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="tituloSlide colorAux">Actualizar Descripción</h5>
            <p class="descSlide mb-10 colorAux">Ingresa tu descripción</p>
          </div>
        </div>  
        <div class="carousel-item">
            <img src="../../../../assets/capturas/perfil/perfil5.png" class="d-block w-100" alt="slide6">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Publicaciones</h5>
              <p class="descSlide marginAux">Aqui te aparecerá el número de publicaciones que has hecho</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/capturas/perfil/perfil9.png" class="d-block w-100" alt="slide7">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Publicaciones</h5>
              <p class="descSlide mb-4">Puedes crear una publicación desde tu perfil</p>
            </div>
          </div>   
          <div class="carousel-item">
            <img src="../../../../assets/capturas/perfil/perfil6.png" class="d-block w-100" alt="slide8">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Publicaciones</h5>
              <p class="descSlide">Tambien puedes eliminar tus publicaciones desde el ícono del bote de basura.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/capturas/perfil/perfil7.png" class="d-block w-100" alt="slide9">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Publicaciones</h5>
              <p class="descSlide">Deberás confirmar en el modal emergente.</p>
            </div>
          </div> 
          <div class="carousel-item">
            <img src="../../../../assets/capturas/perfil/perfil10.png" class="d-block w-100" alt="slide10">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Seguidos</h5>
              <p class="descSlide marginAux">Aqui te aparecerá el número de cuentas que sigues.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/capturas/perfil/perfil11.png" class="d-block w-100" alt="slide11">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Seguidos</h5>
              <p class="descSlide mb-4">Puedes dejar de seguirlos desde el ícono.</p>
            </div>
          </div>   
          <div class="carousel-item">
            <img src="../../../../assets/capturas/perfil/perfil12.png" class="d-block w-100" alt="slide12">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Seguidos</h5>
              <p class="descSlide">Puedes acceder a un modal con la información del usuario.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/capturas/perfil/perfil12-1.png" class="d-block w-100" alt="slide13">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Seguidos</h5>
              <p class="descSlide">Se te abrirá el modal.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/capturas/perfil/perfil15.png" class="d-block w-100" alt="slide14">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Seguidores</h5>
              <p class="descSlide marginAux">Aqui te aparecerá el número de seguidores que tienes.</p>
            </div>
          </div>
          <div class="carousel-item">
            <img src="../../../../assets/capturas/perfil/perfil13.png" class="d-block w-100" alt="slide15">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Seguidores</h5>
              <p class="descSlide mb-4">Puedes seguirlos tambien o bien dejar de seguirlos con el ícono.</p>
            </div>
          </div>   
          <div class="carousel-item">
            <img src="../../../../assets/capturas/perfil/perfil17.png" class="d-block w-100" alt="slide16">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Seguidores</h5>
              <p class="descSlide">Puedes acceder a un modal con la información del usuario.</p>
            </div>
          </div>
          <div class="carousel-item ">
            <img src="../../../../assets/capturas/perfil/perfil17-1.png" class="d-block w-100" alt="slide17">
            <div class="carousel-caption d-none d-md-block">
              <h5 class="tituloSlide">Seguidores</h5>
              <p class="descSlide">Se te abrirá el modal.</p>
            </div>
          </div>           
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div> 
</mat-dialog-content>