.contPrincipalRecursos .video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid #000; */
    border-radius: 5px;
    padding: 0.2rem;    
}
.contPrincipalRecursos .video:first-child{
    margin-bottom: 2rem;
}
.contPrincipalRecursos .video span{
    font-family: var(--fuentePrimaria);
    font-size: 1rem;
    margin-top: 0.6rem;
}
.contPrincipalRecursos .video iframe{
    -webkit-box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 12px 2px rgba(0,0,0,0.75);
}
/* Boton Ayuda */
.contenedor{
    padding: 1rem;
}
.contBtnUser{
    width: 2rem;
    border: none;
    background: none;
    -webkit-box-shadow: 2px 5px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 5px 8px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 5px 8px -1px rgba(0,0,0,0.75);
  }
  .btn-user-org{
    position: absolute;
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    width: 2.5rem;
    right: 2rem;
    padding: 0.3rem;
    top: 1rem;
    border-radius: 50%;
    z-index: 9;
    background-color: #de6a64;
  }
  .btn-user-org:hover{
    transform: scale(105%);
    transition: 0.5s ease-in all;
  }
  .tit{
    font-family: var(--fuenteGenerica);
    font-size: 1.4rem;
}
.tituloSlide{
    font-family: var(--fuentePrimaria);
    /* font-size: 1.5rem; */
    color: black;
}
.descSlide{
    font-family: var(--fuentePrimaria);
    color: black;
    font-size: 1.5rem;
}
.marginAux{
    margin-bottom: 14rem;
}
.colorAux{
    color: aliceblue;
}

.contBtn{
    display: flex;
    justify-content: center;
}
.btnCerrar{
    background: none;
    border: none;
    padding: 0.6rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: var(--fuentePrimaria);
    border-radius: 10px;
    background-color: rgb(245, 193, 167);
    -webkit-box-shadow: 2px 5px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 5px 8px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 5px 8px -1px rgba(0,0,0,0.75);
}
.btnCerrar:hover{
    transform: scale(105%);
    transition: 0.5s ease-in all;
}