<app-navbar></app-navbar>

<app-sidebar>
  <div class="contenedor">
    <app-titulo-seccion [title]="'Inicio'"></app-titulo-seccion>

    <mat-card class="tarjeta">
      <div>
        <h3 class="tituloInicio">Bienvenido a tu portal {{usuarioPropio}}</h3>
      </div>
      <div class="accionesHeader">
        <button class="accion tooltip-container" [routerLink]="['/comunidad']">
          <span class="tooltip">Busca cuentas de usuarios en la sección Comunidad</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-plus" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
            <path d="M16 19h6" />
            <path d="M19 16v6" />
            <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
          </svg>
          <p>Comunidad</p>
        </button>
        <button class="accion tooltip-container" [routerLink]="['/recursos']">
          <span class="tooltip">Accede a recursos que pueden ser de tu interés</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-library" width="28" height="28" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M7 3m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z" />
            <path d="M4.012 7.26a2.005 2.005 0 0 0 -1.012 1.737v10c0 1.1 .9 2 2 2h10c.75 0 1.158 -.385 1.5 -1" />
            <path d="M11 7h5" />
            <path d="M11 10h6" />
            <path d="M11 13h3" />
          </svg>
          <p>Recursos</p>
        </button>
      </div>     
    </mat-card>
    <div class="contenedor">
      <mat-card class="contenedorInicio">
        <div class="msgVacio" *ngIf="numPublicaciones === 0">          
          <app-mensajevacio class="msgVacioTexto">¡No hay publicaciones para mostrar!</app-mensajevacio>
        </div>
        <div class="publicaciones" *ngIf="numPublicaciones !== 0">
          <div *ngFor="let item of listPostSeg"> 
            <mat-card class="contenedorPublicacion">
              <div class="contenidoPrincipal">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image">
                    <img *ngIf="!item.imgPerfil" src="../../../../assets/avatars/user.png" alt="imgPerfil" class="imgCircular">
                    <img *ngIf="item.imgPerfil" [src]="getProfileImage(item.imgPerfil)" alt="imgPerfil" class="imgCircular">
                  </div>
                  <mat-card-title class="nomUsuario">{{item.nombreUserSeguido}}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="cuerpoPublicacion">
                  <p>{{item.contenido}}</p>  
                  <p class="fechaPublicacion">{{item.fechaPublicacion | date: 'dd/MMM/yyyy' }}</p>            
                </mat-card-content>
              </div>
              
              <mat-card-actions class="acciones">
                <div class="accion like" *ngIf="!likedPosts[item.id]" (click)="addLike(item.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#ff2825" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                  </svg>
                </div> 
                <div class="accion like" *ngIf="likedPosts[item.id]" (click)="deleteLike(item.id)">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-heart" width="32" height="32" viewBox="0 0 24 24" stroke-width="2" stroke="#ff2825" fill="#ff0000" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                  </svg>
                </div> 
                <p>{{ likesMap[item.id] || 0 }}</p>                   
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</app-sidebar>
