<app-navbar></app-navbar>
<app-sidebar>
  <div class="contenedor">
      <app-titulo-seccion [title]="'Panel Administrador'"></app-titulo-seccion>
    <mat-card class="tarjeta">
      <div>
        <h3 class="tituloPanel">Bienvenido al Panel de Administrador <span>{{adminUser}}</span></h3>
        <p class="descPanel">Dentro de este panel podras acceder a algunas incidencias de usuarios y a tratar temas con organizaciones, desde su alta en la plataforma hasta la vinculación entre estas y los usuarios</p>
      </div>          
    </mat-card>
    <div class="contPanel">
        <div class="row">
            <div class="col-12 colUsuarios">        
                <h3 class="titulo">Revisar Incidencias</h3>
                <div class="contIncidencias">
                    <p>Aqui puedes revisar reportes, solicitudes o preguntas de los usuarios</p>
                    <p>Selecciona cual revisar</p>
                    <select [(ngModel)]="opcionSeleccionada">
                        <option value="" disabled>--Selecciona--</option>
                        <option value="Reportes" selected>Reportes</option>
                        <option value="Solicitudes">Contactos Inside</option>
                        <option value="Contactos">Contactos Outside</option>
                    </select>
                    <div class="contTablaIncidencias" [ngSwitch]="opcionSeleccionada">
                        <app-reportes *ngSwitchCase="'Reportes'"></app-reportes>
                        <app-solicitudes *ngSwitchCase="'Solicitudes'"></app-solicitudes>
                        <app-contacto *ngSwitchCase="'Contactos'"></app-contacto>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 colUsuarios">
                <h3 class="tituloUsuarios">Gestión de Usuarios</h3>
                <div class="contTablaUsuarios">
                    <app-usuarios></app-usuarios>
                </div>
            </div>
        </div>
    </div>    
  </div>  
</app-sidebar>



<!-- <app-footer></app-footer> -->
