<footer class="footer-body">
    <div class="contFooter">
        <div class="columna">            
            <h5 class="tt"> TT 2024-A134 </h5>
        </div>  
        <div class="columna contLinks">            
            <h3 [routerLink]="['/contactoportal']" class="links">Contacto</h3>
            <h3 [routerLink]="['/avisodeprivacidad']" class="links">Privacidad</h3> 
            <h3 [routerLink]="['/recursosportal']" class="links">Recursos</h3> 
        </div>                
    </div>   
    <div class="columna">
        <h3 class="derechos">2024 Derechos reservados Escom&reg;</h3>         
    </div>  

           
</footer>
