<app-navbar></app-navbar>

<app-sidebar>
  <div class="contenedor">
    <app-titulo-seccion [title]="'Contacto'"></app-titulo-seccion>
    <div class="contRegresar">
        <app-btnregresarportal routerLink="/contacto"></app-btnregresarportal>
    </div>   
    <mat-card class="tarjeta">          
        <div class="headerCard">
            <h5>Formulario de Contacto</h5>
            <p>Llena este formulario y te atenderemos lo más pronto posible</p>
        </div>          
        <form class="contForm" [formGroup]="contactoForm">
            <div class="filaEntrada">
                <div class="contLabel">
                    <label for="dirigido">Dirigido a</label>
                </div>
                <select name="dirigido" id="dirigido" [(ngModel)]="rol" formControlName="rol">
                    <option disabled selected value="Seleccionar">--Seleccionar--</option>
                    <option value="Desarrollador">Desarrolladores</option>
                    <option value="Asesor">Asesor</option>
                    <option value="Administrador">Administrador</option>
                </select>                     
            </div>
            <div class="filaEntrada">
                <div class="contLabel">
                    <label for="asunto">Asunto</label>
                </div>
                <input type="text" name="asunto" id="asunto" class="input" placeholder="Ingresa el asunto..." [(ngModel)]="asunto" formControlName="asunto">             
            </div>
            <div class="filaEntrada">
                <div class="contLabel">
                    <label for="mensaje">Mensaje</label>
                </div>
                <textarea name="mensaje" id="mensaje" placeholder="Escribe tu mensaje..." [(ngModel)]="descripcion" formControlName="descripcion"></textarea>                   
            </div>
        </form>           
    </mat-card>
    <div class="botones">
        <button (click)="onSubmitContacto()" class="enviar">Enviar Solicitud</button>
    </div>
  
  </div>
</app-sidebar>


