
.temaForo{
    margin: 1rem;
}
.titleForo{
    font-size: 1.2rem;
    font-family: var(--fuentePrimaria);
}
.cardTema{
    border-radius: 10px;
    display: inline;
    margin-bottom: 1rem;
    /* width: 10rem; */

    border: 1px solid #183cbe;
    /* width: 20%; */
    text-align: center;
    padding: 0.8rem;
    background-color: aliceblue;
    -webkit-box-shadow: 2px 7px 28px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 7px 28px -7px rgba(0,0,0,0.75);
    box-shadow: 2px 7px 28px -7px rgba(0,0,0,0.75);
}
.temaResult{
    margin: 0;
    display: inline-block;
    font-size: 1rem;
    font-family: var(--fuenteGenerica);
}
.imgUser{
    width: 7%;
    margin: 1rem;
}
.infoForo{
    display: flex;
    flex-direction: row;
}

.infoTextoForo{
    display: flex;
    flex-direction: column;
}
.tituloForoResult{
    font-size: 1.4rem;
    margin: 0;
    font-family: var(--fuenteGenerica);   
}
.publicadoPor{
    font-size: 1rem;
    color: rgb(191, 191, 191);
    font-family: var(--fuentePrimaria);
    font-style: italic;   
    text-wrap: nowrap; 
}
.reacciones{
    width: 80%;
    display: flex;
    justify-content: end;
    text-align: center;
    /* border: 1px solid #000; */

}
.contReacciones{
    display: flex;
    /* border: 1px solid #000; */
    justify-content: end;
    align-items: center;

    justify-content: space-evenly;
}

.numLikes{
    font-size: 1rem;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin: 1rem 1rem; */
}

.contenidoForo{
    border: 1px solid #777676;
    border-radius: 10px;
    background-color: #d1dbff;
    font-family: var(--fuentePrimaria);
    /* border: 1px solid #000; */
    padding: 1rem;
}
.cardComentarios{
    margin: 0.5rem 0 2rem 0;
}
.cardComentarios p{
    margin-left: 1rem;
    margin-bottom: 0;
    margin-top: 1rem;
    font-family: var(--fuenteGenerica);
}
.comentarios{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    width: 100%;
    align-items: center;
}

.inputReplica{
    width: 100%;
    padding: 1rem;
    /* height: 1rem; */
}

/* Boton Replicar */
.comentarios button {
    --color: #0077ff;
    font-family: var(--fuentePrimaria);
    display: inline-block;
    width: 6em;
    height: 2em;
    line-height: 1em;
    overflow: hidden;
    cursor: pointer;
    margin-left: 1rem;
    font-size: 17px;
    z-index: 1;
    color: var(--color);
    border: 2px solid var(--color);
    border-radius: 6px;
    position: relative;
  }
  
  .comentarios  button::before {
    position: absolute;
    content: "";
    background: var(--color);
    width: 150px;
    height: 200px;
    z-index: -1;
    border-radius: 50%;
  }
  
  .comentarios  button:hover {
    color: white;
  }
  
  .comentarios  button:before {
    top: 100%;
    left: 100%;
    transition: 0.3s all;
  }
  
  .comentarios button:hover::before {
    top: -30px;
    left: -30px;
  }
  



.replicas{
    margin-top: 1rem;
}
.contReplicas{
    background-color: #bde9e3;
    padding: 1rem;
    
}
.tituloReplicas h4{
    font-size: 1.2rem;
    font-family: var(--fuentePrimaria);
}
.cuerpoReplica{
    display: flex;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #c9c9c9;
    flex-direction: row;
    justify-content: space-between;
}
.cuerpoReplica:last-child{
    border-bottom: none;

}
.infoUserQueReplica{
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
}
.imgPerfil{
    width: 3rem; /* esto asegura que la imagen ocupe todo el espacio dentro del div */
    height: 3rem;
    /* object-fit: cover;  */
    border-radius: 50%; /* esto hará que los bordes sean redondos */
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    /* margin-right: 1rem; */
}
.infoUserQueReplica h4{
    font-size: 0.8rem;
    font-family: var(--fuentePrimaria);
    font-style: italic;
    text-align: center;
    margin-bottom: 0;
}
.fechaPublicacion{
    color: #969393;
    font-size: 0.7rem;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.contenidoReplica{
    border: 1px solid #000;
    background-color: rgb(225, 226, 226);
    font-family: var(--fuenteGenerica);
    border-radius: 10px;
    width: 90%;
    padding: 0.8rem;
    margin-left: 0.5rem;
}
@media(min-width: 900px){
    .infoUserQueReplica{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        /* margin-right: 1rem;     */
    }
    .infoUserQueReplica h4{
        font-size: 1rem;
    }
    .imgPerfil{
        margin-right: 1rem;
        width: 3rem; 
        height: 3rem;
        object-fit: cover;
    }
    .fechaPublicacion{
        margin-left: 1rem;
    }
    .contenidoReplica{
        margin-left: 0;
    }
}


.contInput{
    display: flex;
    width: 100%;
}
.inputDescripcion{
    width: 100%;
    margin: auto;
    padding: 0.7rem;
    font-size: 0.9rem;
    font-family: var(--fuenteGenerica);
    height: 5rem;
    resize: none;
}
.botones{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.cancelar, .enviar, .borrar, .cancelar2{
    border: none;
    background: none;
    padding: 0.6rem;
    font-family: var(--fuentePrimaria);
    font-size: 1rem;
    border-radius: 10px;
    margin: 1rem;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}
.enviar{
    background-color: #45a53a;
}
.cancelar{
    background-color: #ec4b68;
}
.borrar{
    background-color: transparent;
    border: 3px solid #cd304c;
}
.cancelar2{
    background-color: transparent;
    border: 3px solid #3084cd;
}
.cancelar:hover, .enviar:hover, .cancelar2:hover, .borrar:hover{
    transform: scale(102%);
    transition: 0.5s ease all;
    filter: opacity(90%);
}