<app-navbar></app-navbar>
<app-sidebar>
  <div class="contenedor">
    <app-titulo-seccion [title]="'Foros'"></app-titulo-seccion>
    <div class="contRegresar">
        <app-btnregresarportal routerLink="/foros"></app-btnregresarportal>
    </div>    
    <div class="cuerpoForo">
    <div>
        <div class="temaForo">
            <h3 class="titleForo">Tema Seleccionado</h3>
            <div class="cardTema">
                <p class="temaResult">{{temaResultadoForo}}</p>                
            </div>
        </div>
        <mat-card class="example-card">
            <mat-card-header class="headerCuerpo">
                <div class="infoForo">
                    <div class="">
                        <h4 class="tituloForoResult">{{tituloForoResult}}</h4>
                        <p class="publicadoPor">Publicado por {{usuarioResult}}</p>
                    </div>                    
                </div>
                <div class="reacciones">
                    <div class="contReacciones">                      
                      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="openDialog()" >
                          <mat-icon>report</mat-icon>
                          <span>Reportar</span>
                        </button>
                        <button mat-menu-item (click)="openDialogBorrar()" *ngIf="isAdmin">
                          <mat-icon>delete</mat-icon>
                          <span>Eliminar</span>
                        </button>                        
                      </mat-menu>                      
                    </div>                    
                </div>                   
            </mat-card-header>
            <mat-card-content>
                <div class="contenidoForo">
                    <p>{{contResultForo}} </p>
                </div>                     
            </mat-card-content>            
          </mat-card>  
          <mat-card class="cardComentarios">
            <form [formGroup]="replicaForm">
                <p>Escribe una replica...</p>
                <div class="comentarios">
                    <input type="text" class="inputReplica" formControlName="contenidoreplica" [(ngModel)]="contenidoreplica">
                    <button (click)="createReplica()">Replicar</button>
                </div>
            </form>            
          </mat-card>
          <div *ngIf="numReplicas === 0">
            <app-mensajevacio class="msgVacioTexto">¡Este foro aun no tiene replicas, puedes escribir la primera!</app-mensajevacio>                
          </div>
          <div class="accordion" id="accordionExample" *ngIf="numReplicas > 0">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  Ver Replicas
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <mat-card class="replicas" >
                    <div class="contReplicas">
                        <div class="tituloReplicas">
                            <h4>Replicas</h4>
                            <div class="cuerpoReplica" *ngFor="let rep of replicas">
                                <div class="infoUserQueReplica">
                                    <img *ngIf="rep.user.imgPerfil === ''" src="../../../../assets/avatars/2.jpg" alt="" class="imgPerfil">           
                                    <img *ngIf="rep.user.imgPerfil !== ''" [src]="getProfileImage(rep)" alt="" class="imgPerfil">
                                    <div class="nombreFecha">
                                        <h4>{{rep.user.nombreUsuario}}</h4>
                                        <p class="fechaPublicacion">{{rep.fechaCreado | date: 'dd/MMM/yyyy' }}</p> 
                                    </div>
                                </div>
                                <div class="contenidoReplica">
                                    <p>{{rep.contenidoreplica}}</p>
                                </div>
                                <div class="reaccionesReplicas" *ngIf="isOwner">
                                  <div class="contReacciones">                      
                                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                      <mat-icon>more_vert</mat-icon>
                                    </button>
                                    <mat-menu #menu="matMenu">
                                      <button mat-menu-item (click)="openDialogBorrarReplica(rep.id)" *ngIf="isAdmin || isOwnerReplica">
                                        <mat-icon>delete</mat-icon>
                                        <span>Eliminar Replica</span>
                                      </button>                        
                                    </mat-menu>                      
                                  </div>                    
                              </div>                        
                            </div>
                        </div>
                    </div> 
                  </mat-card>
              </div>
            </div>            
          </div>
        </div>  
    </div>  
  </div>
</app-sidebar>


