<app-navbar></app-navbar>

<app-sidebar>
  <div class="contenedor">
    <app-titulo-seccion [title]="'Recursos'"></app-titulo-seccion>
    <app-msg-recursos></app-msg-recursos> 
    
    <div class="cuerpoRecursos">
      <app-menurecursos></app-menurecursos>
      <div class="contPrincipalRecursos">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <div class="articulo">
              <h4>Violencia en el noviazgo: no es amor, no es amistad</h4>
              <p>Para ponerle un alto a la violencia en el noviazgo, es importante entender cómo se desarrolla dentro de las relaciones de pareja...</p>
              <a href="https://www.gob.mx/sipinna/articulos/violencia-en-el-noviazgo-no-es-amor-no-es-amistad?idiom=es">{{this.link}}</a>                     
            </div>                    
          </div>
          <div class="col-lg-6 col-sm-12">
            <div class="articulo">
              <h4>Severidad de la violencia de pareja y reacciones emocionales en mujeres</h4>
              <p>Una de las formas más comunes de violencia contra la mujer es la ocasionada por la pareja; esta puede ser física, psicológica, sexual, económica y social...</p>
              <a href="https://www.scielo.org.mx/scielo.php?script=sci_arttext&pid=S2007-59362022000100104">{{this.link}}</a>
            </div>              
          </div>
          <div class="row">
            <div class="col-lg-6 col-sm-12">
              <div class="articulo">
                <h4>Violencia en el noviazgo</h4>
                <p>Es importante entender que el amor verdadero, y los noviazgos y relaciones saludables, están basados en la igualdad, el respeto y la independencia...</p>
                <a href="https://www.gob.mx/imjuve/articulos/violencia-en-el-noviazgo-129663">{{this.link}}</a>
              </div> 
            </div>
            <div class="col-lg-6 col-sm-12">
              <div class="articulo">
                <h4>Violencia en relaciones de pareja de jóvenes y adolescentes</h4>
                <p>La violencia de género es actualmente uno de los fenómenos sociales más problemáticos y una de las formas más frecuentes de violencia en nuestra sociedad...</p>
                <a href="https://www.elsevier.es/es-revista-revista-latinoamericana-psicologia-205-articulo-violencia-relaciones-pareja-jovenes-adolescentes-S0120053414700184">{{this.link}}</a>
              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-sidebar>


