.contPrincipalRecursos{
    display: flex;
    justify-content: center;   
    width: 50%;
    margin: 0 auto; 
}
.contContactos{
    display: grid;
    grid-template-columns: 1fr;
    
    justify-content: center;
    align-items: center;
}
@media(min-width: 1000px){
    .contPrincipalRecursos{
        width: 80%;
    }
    .contContactos{
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
    }
}
.articulo{
    background-color: rgb(195, 218, 226);
    border: 1px solid #000;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20rem;
    border-radius: 10px;
    height: 6rem;
    margin-top: 1rem;
}
.articulo span{
    color: rgb(32, 108, 184);
    font-family: var(--fuentePrimaria);
    cursor: pointer;
    text-decoration: underline;
    justify-content: end;
}
.articulo span:hover{
    color: rgb(42, 49, 52);

}
.articulo h4{
    font-family: var(--fuenteGenerica);
    font-size: 1rem;
    text-align: center;
    line-height: 1;
}
.articulo p{
    font-size: 0.8rem;
    /* margin-bottom: 1.2rem; */
    font-family: var(--fuentePrimaria);
}
.articulo a{
    padding: 0.8rem;
    /* margin-top: 2rem; */
    font-family: var(--fuenteGenerica);
    background-color: rgb(26, 179, 26);
    border-radius: 10px;
    color: aliceblue;
    text-decoration: none;
    -webkit-box-shadow: 2px 1px 12px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 1px 12px -3px rgba(0,0,0,0.75);
    box-shadow: 2px 1px 12px -3px rgba(0,0,0,0.75);
}
.articulo a:hover{
    transform: scale(105%);
    transition: 0.5s ease all;
    background-color: rgb(122, 205, 122);
    color: rgb(12, 12, 12);

}
