<app-navbar></app-navbar>

<app-sidebar>
  <div class="contenedor">
    <app-titulo-seccion [title]="'Recursos'"></app-titulo-seccion>
    <!-- <app-msg-recursos></app-msg-recursos>  -->
    
    <div class="cuerpoRecursos">
      <app-menurecursos [mensaje]="'Aqui encontrarás contactos de emergencia que te pueden ser de utilidad.'"></app-menurecursos>
      <div class="contPrincipalRecursos">
        <div class="contContactos">
          <div class="articulo">
            <h4>Número de Emergencias</h4>
            <span>911</span>
          </div>  
          <div class="articulo">
            <h4>Procuraduría General de Justicia (PGJ)</h4>
            <span>55 5346 8643</span>
          </div>  
          <div class="articulo">
            <h4>Línea Mujeres</h4>
            <span>55 5658 1111</span>
          </div>
          <div class="articulo">
            <h4>Línea Mujeres</h4>
            <span>55 5658 1111</span>
          </div>
          <div class="articulo">
            <h4>Red Nacional de Refugios</h4>
            <span>800 822 4460</span>
          </div> 
          <div class="articulo">
            <h4>Comisión Nacional para Prevenir y Erradicar la Violencia contra las Mujeres (CONAVIM)</h4>
            <span>55 5203 9700</span>
          </div>
          <div class="articulo">
            <h4>Centro de Atención a la Violencia Intrafamiliar (CAVI)</h4>
            <span>55 5345 5567</span>
          </div>  
          <div class="articulo">
            <h4>Centro de Apoyo a Personas Agredidas Sexualmente (CAPAS)</h4>
            <span>55 5641 3306</span>
          </div>  
          <div class="articulo">
            <h4>Centro de Justicia para las Mujeres</h4>
            <span>800 522 9723</span>
          </div>  
          <div class="articulo">
            <h4>Instituto Nacional de las Mujeres (INMUJERES)</h4>
            <span>55 5322 4200</span>
          </div>  
        </div>
        <!-- <div class="row">
          <div class="col-6">
                              
          </div>
          <div class="col-6">
                          
          </div>
          <div class="row">
            <div class="col-6">
              <div class="articulo">
                <h4>Red Nacional de Refugios</h4>
                <span>800 822 4460</span>
              </div> 
            </div>
            <div class="col-6">
              <div class="articulo">
                <h4>L[inea Mujeres</h4>
                <span>55 5203 9700</span>
              </div> 
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</app-sidebar>


