<h2 mat-dialog-title>Dar/Quitar permisos de Admin</h2>
<mat-dialog-content>
    <div class="contentModal">
        <span>¿Deseas darle permisos de adminstardor al usuario {{data.nombre}} con el id {{data.id}}?</span>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="botonesModal">
    <button class="btnCancelar" mat-dialog-close (click)="cancelar()">Cancelar</button>
    <button class="btnConfirmar" mat-dialog-action  cdkFocusInitial (click)="updateAdmin()">Confirmar</button>
</mat-dialog-actions>