.contLegal{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* border: 1px solid #000; */
    padding: 1rem;
}
.contLegal .example-card{
    width: 40%;
    position: relative;
    height: auto;
    text-align: center;
    /* justify-content: center; */
    align-items: center;
    

}
.accordion-button{
    font-size: 1.8rem;
    font-family: var(--fuentePrimaria);  
}
.titleCardLegal{
    font-size: 1.8rem;
    font-family: var(--fuentePrimaria);        
}
.descLegal{
    font-size: 0.9rem;
    margin-top: 1rem;
    font-family: var(--fuenteSecundaria);
    line-height: 1.2;
    text-align: center;
}
.btnVerMas{
    background-color: rgb(127, 195, 255);
    border-radius: 10px;
    font-size: 1.2rem;
    font-family: var(--fuenteTitulos);
    border: none;
    padding: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 1rem auto;
    -webkit-box-shadow: 5px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 4px 5px 0px rgba(0,0,0,0.75);
}

.btnVerMas:hover{
    transform: scale(105%);
    transition: 0.5s ease-in all;
}

.contLey, .contDefinicion{
    display: flex;
    flex-direction: column;
    /* background-color: rgb(240, 167, 89); */
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
}
.contLey{
    background-color: rgb(240, 167, 89);

}
.contDefinicion{
    background-color: rgb(96, 190, 209);

}
.nombreLey, .nombreDefinicion{    
    font-size: 1rem;
    font-family: var(--fuentePrimaria);
    line-height: 1;
}
.descLey, .descDefinicion{
    font-size: 0.8rem;
    font-family: var(--fuenteSecundaria);
    line-height: 1;


}
.contLey .btnLey{
    background-color: rgb(106, 153, 210);
    padding: 0.5rem;
    /* margin-bottom: 1rem; */
    margin: 0 auto;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    font-family: var(--fuentePrimaria);
    font-size: 1rem;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);

}
.contLey .btnLey:hover{
    transform: 105%;
    transition: 0.5s ease-in-out all;
}
.msgSeccion{
    text-align: center;
    font-family: var(--fuentePrimaria);
    font-size: 1.7rem;
    margin-bottom: 2rem;
    line-height: 1;
}
/* Boton Ayuda */
.contenedor{
    padding: 1rem;
}
.contBtnUser{
    width: 2rem;
    border: none;
    background: none;
    -webkit-box-shadow: 2px 5px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 5px 8px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 5px 8px -1px rgba(0,0,0,0.75);
  }
  .btn-user-org{
    position: absolute;
    -webkit-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 4px 5px 0px rgba(0,0,0,0.75);
    width: 2.5rem;
    right: 2rem;
    padding: 0.3rem;
    top: 1rem;
    border-radius: 50%;
    z-index: 9;
    background-color: #de6a64;
  }
  .btn-user-org:hover{
    transform: scale(105%);
    transition: 0.5s ease-in all;
  }
  .tit{
    font-family: var(--fuenteGenerica);
    font-size: 1.4rem;
}
.tituloSlide{
    font-family: var(--fuentePrimaria);
    /* font-size: 1.5rem; */
    color: black;
}
.descSlide{
    font-family: var(--fuentePrimaria);
    color: black;
    font-size: 1.5rem;
}
.marginAux{
    margin-bottom: 14rem;
}
.colorAux{
    color: aliceblue;
}

.contBtn{
    display: flex;
    justify-content: center;
}
.btnCerrar{
    background: none;
    border: none;
    padding: 0.6rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-family: var(--fuentePrimaria);
    border-radius: 10px;
    background-color: rgb(245, 193, 167);
    -webkit-box-shadow: 2px 5px 8px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 5px 8px -1px rgba(0,0,0,0.75);
    box-shadow: 2px 5px 8px -1px rgba(0,0,0,0.75);
}
.btnCerrar:hover{
    transform: scale(105%);
    transition: 0.5s ease-in all;
}